<header>
  <ul class="link-list">
    <li>
      <a class="link" href="/" referrerpolicy="no-referrer">
        <span class="link-text">
          首页
        </span>
      </a>
    </li>
    <li>
      <a class="link" href="qian.html" referrerpolicy="no-referrer">
        <span class="link-text">
          每日签到
        </span>
      </a>
    </li>
    <li>
      <a class="link" href="lan.html" referrerpolicy="no-referrer">
        <span class="link-text">
          内部链接
        </span>
      </a>
    </li>
    <li>
      <a
        class="link"
        href="./design.html"
        referrerpolicy="no-referrer"
        rel="noopener"
      >
        <span class="link-text">
          设计
        </span>
      </a>
    </li>
  </ul>
</header>
