<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="referrer" content="no-referrer" />
  <title>@@title - 起始页</title>
  <link rel="stylesheet" href="https://static.oonnnoo.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons">
  <link rel="stylesheet" href="./style.css" />
  <script src="https://static.oonnnoo.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
</head>
