<ul class="link-list link-icon-list">
  @@for (var i = 0; i < list.length; i++) {
  <li>
    <div class="card sticky-action">
      <div class="card-image">
        <img class="activator" src="`+list[i].icon+`" alt="`+list[i].text+`" />
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          ><i class="material-icons right">close</i></span
        >
        <p> `+list[i].desc +`</p>
      </div>
      <div class="card-action">
        <a href="`+list[i].url+`" target="_black">`+list[i].text+`</a>
      </div>
    </div>
  </li>
  }
</ul>
