<h3>@@name</h3>
<div class="row">
  @@for (var i = 0; i < list.length; i++) {
  <div class="col s6 m4 xl3">
    <div class="card sticky-action">
      <div class="card-image">
        <img class="activator" src="`+list[i].icon+`" alt="`+list[i].text+`" />
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          ><i class="material-icons right">close</i></span
        >
        <p>`+list[i].desc +`</p>
      </div>
      <div class="card-action">
        <a href="`+list[i].url+`" target="_black" rel="noopener">`+list[i].text+`</a>
      </div>
    </div>
  </div>
  }
</div>
