body {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
} */

@media only screen and (min-width: 992px){
  header, main, footer {
    padding-left: 300px;
  }
}

.link-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  margin: 0;
  padding: 0;
}
.link-list li {
  line-height: 1.5;
  padding: 8px 6px;
}

.link-icon-list {
  justify-content: left;
}
.link-icon-list li {
  width: 200px;
}
.link {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.link .icon {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}
.link-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.card .card-reveal .card-title {
  position: relative;
}
